<!--<div class="content">
<form> 
  <fieldset>
    <h3>Add new event</h3>
    <br><br>
    <label>Title</label>
    <input type="text" id = "name" name="title" required>
    <br><br>
    <label>Description</label>
    <input type ="text" id = 'desc' name="description" required>
    <br><br>
    <label>Number of Tickets</label>
    <input type ="text" id = 'bal' name="ticketBal" required>
    <br><br>
    <label>Price</label>
    <input type ="text" id = 'price' name="price" required>
    <br><br>
    <label>Date Time</label>
    <input type ="text" id = 'dateTime' name="dateTime" required>
    <br><br>
    <label>Location</label>
    <input type ="text" id = 'locat' name="location" required>
    <br><br>
    <label>Image</label>
    <input type ="text" id = 'img' name="image" required>
    <br><br>
    <button type ="reset">Reset</button>
    <button type ="submit">Submit</button>
  </fieldset>
</form>
</div>
-->

<div class="content"></div>
<form [formGroup]="register" (ngSubmit)="collection()">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title">

    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" formControlName="description">
    </div>
  
    <div class="form-group">
    <label>ticketBal</label>
         <input type="text" class="form-control" formControlName="ticketBal">
    </div>
    <div class="form-group">
    <label>Date Time</label>
        <input type="text" class="form-control" formControlName="dateTime">
    </div>
    <div class="form-group">
    <label>Location</label>
        <input type="text" class="form-control" formControlName="location">
    </div>
    <div class="form-group">
    <label> Image</label>
    <input type="text" class="form-control" FormControlName="image">
</div>
    <button type ="reset">Reset</button>
    <button type ="submit">Submit</button>

</form>
