<!--
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>
    </tr>

    <tr ng-repeat="evt in event">
        <td>{{evt.id}}</td>
        <td>{{evt.title}}</td>
        <td>{{evt.description}</td>
    </tr>
</table>
-->

<div class="content" ng-app="event_list"  ng-controller="myCtrl">
    <div class="row" ng-repeat="data in image">
        <div class=".col-sm-6 .col-md-5 .col-lg-6" style="background-color:#eee;height:150px;width:500px;margin-left:240px;margin-top:20px;">
            <h4 style="padding:10px;">User Say's</h4><hr>
            <p id="id" style="padding:10px;"></p>
            <p id="demo"></p>
            <img src="" class="img-circle" style="width:100px;height:100px;margin-left:-140px;margin-top:-130px;">
          </div>  
    </div>
</div>

<script src="/core.js" ></script>

