<!--<script src="/core.js" ></script>-->
<div class="content" ng-app="event_list"  ng-controller="myCtrl">
    <div class="row" *ngFor="let event of events">
      <a routerLink="/checkout/{{event.id}}">
        <div class="col-sm-6 col-md-5 col-lg-6" style="background-color:#eee; padding: 15px" >
            <h4 style="padding:10px;">{{event.title}}</h4><hr>
            <table>
                <tr>            
                    <th>Description</th>
                    <td>{{event.description}}</td>
                </tr>
                <tr>            
                    <th>TicketBalance</th>
                    <td>{{event.ticketBal}}</td>
                </tr>
                <tr>            
                    <th>Price</th>
                    <td>RM {{event.price}}</td>               
                </tr>
                <tr>            
                    <th>DateTime</th>
                    <td>{{event.dateTime}}</td>         
                </tr>
                <tr>
                    <th>Location</th>   
                    <td>{{event.location}}</td>
                </tr>     
            </table>
        
            <img src="{{event.image}}" class="img-circle" style="width: 20%;">
        </div>  
      </a>
    </div>
</div>

<!--
<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>TicketBalance</th>
        <th>Price</th>
        <th>DateTime</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td><span>{{event.id}}</span></td>
        <td><span>{{event.title}}</span></td>
        <td><span>{{event.description}}</span></td>
        <td><span>{{event.ticketBal}}</span></td>
        <td><span>{{event.price}}</span></td>
        <td><span>{{event.dateTime}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
-->


