<div class="center_container_register">
    <label class="firstregister_lbl">Payment for First Time Register</label>

    <label class="lbl_title">Company name</label>
    <input type="text" class="company_info" required placeholder="Enter company name"/>

    <label class="lbl_title">Name</label>
    <input type="text" class="company_info" required placeholder="Enter your name"/>

    <label class="lbl_title">Email</label>
    <input type="email" class="company_info" required placeholder="Email"/>

    <label class="lbl_title">Confirm email</label>
    <input type="email" class="company_info" required placeholder="Confirm email"/>

    <div class="price_container">
        <label class="lbl_title">One-time fee</label>
        <p class="ticket_price">RM 10.00</p>
    </div>

    <input type="submit" value="Register" name="companycheckout_btn" class="companycheckout_btn" />
</div>