
    <body>
        <div class="center_container">
            <label class="lbl_title">EVENT</label>
            <p class="event_name">the event name</p><!--event name-->

            <div class="counter_container">
                <label class="lbl_title">TICKET COUNT</label>
                <p class="count_info">1</p><!--ticket count-->
            </div>
            
            <div class="price_container">
                <label class="lbl_title">TICKET PRICE</label>
                <p class="ticket_price">RM 0.00</p><!--ticket price-->
            </div>

            <input type="submit" value="Buy" name="buy_btn" class="buy_btn" />
        </div>
