/* You can add global styles to this file, and also import other style files */
.content {
    margin: 80px 20px 20px 20px;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

/*Display all events page*/
.content a {
    text-decoration: none;  
}

.row {
    background-color:#eee; 
    padding: 20px;
    margin-bottom: 15px;
}

.row img {
    padding: 10px;
    width: 30%;
}

.row .col-sm-6 {
    padding: 15px;
}

.row .col-sm-6:hover{
    box-shadow: 0px 0px 15px grey;

}

table th {
    text-align: left;
    padding: 10px;
}

/*Register*/
.content input {
    margin-left: 10px;
}

  /*CheckOut & TicketInfo*/
/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    font-family: "Poppins", sans-serif;
}
  
.center_container_checkout {
    width: 80%;
    max-width: 400px;
    height: 850px;
    margin: 120px auto;
    padding: 50px;
    background-color: #CCE6F4;
    border-radius: 10px;
}
  
.center_container_ticketinfo {
    width: 80%;
    max-width: 400px;
    height: 800px;
    margin: 120px auto 50px;
    padding: 50px;
    background-color: #CCE6F4;
    border-radius: 10px;
}

.center_container_register {
    width: 80%;
    max-width: 400px;
    height: 680px;
    margin: 120px auto 50px;
    padding: 50px;
    background-color: #CCE6F4;
    border-radius: 10px;
}
  
.lbl_title {
    display: inline-block;
    width: 90%;
    height: 30px;
    margin: 0 10px;
    color: #193A4C;
    font-weight: 700;
}
  
.evt_info {
    width: fit-content;
    height: 40px;
    margin: 10px;
    margin-right: 0;
    color: #3C6981;
    font-weight: 500;
}
  
.personal_details {
    display: block;
    width: fit-content;
    height: 40px;
    font-weight: 800;
    font-size: 1.2rem;
    margin: 10px auto;
    color: #193A4C;
}

.customer_info, .company_info {
    display: block;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 15px auto;
    padding: 5px 20px;
    font-size: 0.9rem;
    float: none;
}
  
.counter_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: 20px 0;
}
  
.ticket_left {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 10px 0;
}
  
.counter {
    display: inline-block;
    width: 110px;
    min-width: 110px;
    height: 40px;
    margin: 0px;
}
  
.small_btn {
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    background-color: #A0B8C5;
    color: #253F4C;
}
  
.small_btn:hover {
    background-color: #708693;
    color: black;
}
  
.ticket_count {
    display: inline-block;
    width: 30px;
    height: 40px;
    text-align: center;
    font-weight: 500;
    color: #0A222F;
}

.checkout_btn, .buy_btn, .companycheckout_btn {
    display: block;
    text-align: center;
    width: 130px;
    height: 50px;
    margin: 30px auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #A0B8C5;
    color: #253F4C;
} 
  
.checkout_btn:hover, .buy_btn:hover, .companycheckout_btn:hover {
    background-color: #708693;
    color: black;
}
  
.back_btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.8rem;
}
  
.ticket_info {
    display: inline-block;
    width: fit-content;
    height: 40px;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0 0 30px 20px;
}
  
.break_line {
    border: 1px solid #193A4C;
    border-radius: 5px;
    margin: 0 0 20px;
}
  
.count_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}
  
.count_info {
    display: inline-block;
    width: fit-content;
    min-width: 30px;
    height: 40px;
    text-align: center;
    margin: 0 10px;
    font-weight: 500;
    color: #0A222F;
}
  
.price_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
  
.ticket_price {
    display: inline-block;
    width: fit-content;
    min-width: 80px;
    height: 40px;
    text-align: center;
    margin: 0 10px;
    font-weight: 500;
    color: #0A222F;
}

.firstregister_lbl {
    display: block;
    width: fit-content;
    height: 70px;
    font-weight: 800;
    font-size: 1.2rem;
    margin: 10px auto 20px;
    color: #193A4C;
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    .center_container_checkout, .center_container_ticketinfo, .center_container_register {
        width: 70vw;
        max-width: fit-content;
        margin-top: 160px; 
    }

    .back_btn {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .ticket_info {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 490px) {
    .customer_info, .company_info {
        width: 270px;
        min-width: 240px;
    }
}

@media screen and (max-width: 425px) {
    .customer_info, .company_info {
        width: 230px;
        min-width: 210px;
    }

    .counter_container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px) {
    .customer_info, .company_info {
        width: 200px;
        min-width: 190px;
    }
    
    .center_container_checkout, .center_container_register {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 380px) {
    .ticket_info {
        font-size: 1.15rem;
        margin-left: 0px;
    }

    .customer_info, .company_info {
        width: 180px;
        min-width: 160px;
    }

    .counter {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .firstregister_lbl {
        font-size: 1.2rem;
    }
}

 /* Responsive Styles */
 @media screen and (max-width: 575px) {
    .row img {
        width: 100%;
        padding: 0px;
      }  

    .row .col-sm-6 {
        padding: 0px;
        margin: 15px;
    }
  }

@media screen and (max-width: 320px) {
    .back_btn {
        font-weight: 500;
        font-size: 1.4rem;
    }

    .ticket_info {
        font-size: 1.0rem;
    }
}

 
  @media screen and (max-width: 767px) {
    
  }

  