
    <body>
        <div class="center_container">
            <label class="lbl_title">Event name</label>
            <p class="evt_name">the event name</p><!--event name-->
            
            
            <div class="counter_container">
                <div class="ticket_left">
                    <label class="lbl_title">Ticket count</label>
                </div>
                <div class="counter">
                    <button class="small_btn" id="minus_btn">
                    -
                    </button>
                    <label class="ticket_count" id="ticket_count">0</label>
                    <button class="small_btn" id="add_btn">
                    +
                    </button>
                </div>
            </div>

            <input type="submit" value="Checkout" name="checkout_btn" class="checkout_btn" />
        </div>

        <script src="ticketcounter.js"></script>
    </body>
